.title-pg {
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    font-weight: 900;
    color: rgba(50, 51, 53, 0.712);
}

.edit {
    background: #f300009d;
}

.delete {
    background: #30a34d;
}

.actions {
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px 2px;
}

.actions:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.btn-add {
    margin-bottom: 10px;
    color: black;
}

.btn-add2:hover {
    margin-bottom: 10px;
    color: #b3b3b3;
}